<!DOCTYPE html>
<html>
	<head>
		<title>Proyecto parcial</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> <!--etiqueta para acentos y ñ s-->
        <meta name="viewport" content="with=device-with, user-scalable=no, initial-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/estilos.css">
	</head>
	<body>  
		<header class="container">
            <h1>Proyecto parcial 1</h1>
            <ul class="container">
                <li><a href="../proyectoparcial">Pagina principal</a></li>

            </ul>
        </header>
        <br>
        <br>
        <article class="container">
            <p class="parri">
                Aquí a Imanol le toca inventarse dos ejercicios.
            </p>
            
        </article>
        <footer></footer>

	</body>
</html>
