<!DOCTYPE html>
<html>
	<head>
		<title>Proyecto parcial</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> <!--etiqueta para acentos y ñ s-->
        <meta name="viewport" content="with=device-with, user-scalable=no, initial-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/estilos.css">
 	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
       <script src="http://malsup.github.com/jquery.form.js"></script> 
	<script>
	
	$(document).ready(function() { 
	    $('#simplificador').ajaxForm({ 
		target: '#res', 
		success: function() { 
		    $('#res').fadeIn('slow'); 
		} 
	    }); 
	});
	</script>
	</head>
	<body>  
		<header class="container">
            <h1 >Proyecto parcial 1</h1>
            <ul class="container">
                <li><a href="#CB">Conceptos básicos</a></li>
                <li><a href="#ol">Operadores Lógicos</a></li>
                <li><a href="#tv">Tablas de Verdad</a></li>
                <li><a href="#ri">Reglas de Inferencia</a></li>
            </ul>
        </header>
        <br>
        <article class="container">
            <div id="CB" class="parr1">
                <h3>Conceptos básicos</h3>
                <dl>
                    <dt>Sentencia declarativa</dt>
                    <dd>Una sentencia declarativa es una oración que
                        afirma algo.
                    </dd>
                    <dt>Proposición</dt>
                    <dd>Una proposición es una sentencia
                    declarativa que debe ser verdadera o falsa
                    pero no ambas.
                    </dd>
                    <dt>Proposiciones Primitivas</dt>
                    <dd> es una proposición que no
                        se puede descomponer en hechos más simples.
                    </dd>
                    <dt>Proposiciones Compuestas</dt>
                    <dd> están formadas de varias
                        proposiciones primitivas
                    </dd>
                    <dt>Argumento</dt>
                    <dd> Es una secuencia estructurada de
                            afirmaciones que terminan en una
                            conclusión.
                    </dd>
                    <p>
                    </p>
                </dl>
            </div>
            <br>
            <div class="parr2" id="ol">
                <h3>Operadores Lógicos</h3>
                <ul>
                    <li>Negación: ¬p (Léase “no p”)</li>
                    <li>Disyunción: p ∨ q (Léase “p o q”)</li>
                    <li>Conjunción: p ∧ q (Léase “p y q”)</li>
                    <li>La Condicional: p->q (Léase si P, entonces Q) </li>
                    
                </ul>
                <p>
                    <a href="../TablasDeVerdad">Ejercicios</a>
                </p>
		<h3> Simplicar</h3>
		<form  id="simplificador"action="/boolean" method="post">
		<input name="varsb" type="text" placeholder="Variables pqr... Todas juntas">
		<input name="expresion" type="text" placeholder="p&q...">
		<input name="Simplificar" type="submit">
		</form>
		<div id="res">
		</div>
            </div>
            <br>
            <div class="parr1" id="tv">
                <h3>Tablas de verdad</h3>
                <p>
                    Una tabla de verdad de una
                    proposición es una descripción
                    organizada de los valores de
                    verdad de la proposición para
                    todos los valores posibles de la
                    variables proposicionales que
                    aparecen en ella.
                </p>
                <p>
                    <img src="../imgs/tablaverdad.png" >
                </p>
                <p>
                    <a href="../TablasDeVerdad">Ejercicios</a>
                </p>
            </div>
            <br>
            <div class="parr2" id="ri">
                <h3>Reglas de Inferencia</h3>
                <p>
                   Una regla de inferencia es una forma lógica
                    que contiene una función que toma de entrada
                    premisas, analiza su sintaxis y retorna una
                    conclusión.
                </p>
                <p>
                    <img src="../imgs/reglas-inferencias.png">
                </p>
                <p>
                    <a href="../Conceptos">Ejercicios</a>
                </p>
            </div>
            
        </article>
        <footer></footer>
	</body>
</html>
